#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #FAF3DD;
}

#hero-img {
    width: 100%;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}

main section {
    text-align: center;
}

body {
    background-color: #FAF3DD;
}
header {
    background-color: #4A7C59;
}

nav a:hover {
    background-color: #8FC0A9;
    color: white; 
}

.home-title {
    color: white;
}

h4 {
    color: white;
}

.book {
    background-color: #4A7C59;
    color: white;
    text-decoration: none;
}

.join {
    background-color: #BED8D4;
    color: white;
    text-decoration: none;
}

.book:hover {
    background-color: #8FC0A9;
    color: white;
}

.join:hover {
    background-color: #4A7C59;
    color: #BED8D4;
}

.msg {
    background-color: #BED8D4;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
}

footer h3 {
    color: white;
    text-decoration: none;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer {
    background-color: #4A7C59;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}
