#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #d9c2a3;
}

#hero-img {
    width: 100%;
}

#hero-msg h1 {
    text-align: center;
    color: #0d4163;
}

#hero-msg h4 {
    text-align: center;
    color: #0d4163;
}

#logo_link {
    padding-top: 5px;
}

.button-box {
    text-align: center;
}

nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}

main section {
    text-align: center;
}

body {
    background-color: #FAF3DD;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #0d4163;
}

#hero {
    background-color: #FAF3DD;
}

nav a:hover {
    background-color: #166CA6;
    color: white; 
    text-align: center;
    padding: 35px;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #d9c2a3;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.home-title {
    color: white;
    margin-top: 10px;
}

h4 {
    color: white;
}

.book {
    background-color: #d9c2a3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.join {
    background-color: #16A697;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.book:hover {
    background-color: #91816C; 
    color: white;
}

.join:hover {
    background-color: #118579;
    color: #BED8D4;
}

.msg {
    background-color: #0D635B;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
    padding-bottom: 15px;
}

footer h3 {
    color: white;
    text-decoration: none;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer {
    background-color: #0d4163;
    padding: 25px 50px;
    margin-top: 200px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.mainFont {
    font-family: Tahoma, Verdana, sans-serif;
}

.mountains {
    padding-bottom: 110px;
    padding-top: 70px;
}